*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.accordion{
  background: whitesmoke;
  margin: 2rem 0;
  padding: 1rem;
}
.accordion-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}